<!DOCTYPE html>
<html>
  <head>
    <title>Trip Planner!</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvDgH73xBc01iExdheG8lxd7VGFFwVw6M&sensor=true"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <span id="brand-name">Trip Planner</span>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    {% block content %}
    {% endblock %}
    <script>
      function initialize_gmaps() {
      // initialize new google maps LatLng object
      var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
      // set the map options hash
      var mapOptions = {
          center: myLatlng,
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      // get the maps div's HTML obj
      var map_canvas_obj = document.getElementById("map-canvas");
      // initialize a new Google Map with the options
      var map = new google.maps.Map(map_canvas_obj, mapOptions);
      // Add the marker to the map
      var marker = new google.maps.Marker({
          position: myLatlng,
          title:"Hello World!"
      });
      // Add the marker to the map by calling setMap()
        marker.setMap(map);
      }
    </script>

    <script>
      $(document).ready(function() {
        initialize_gmaps();
      });
    </script>
  </body>
</html>
