.navbar {
  margin-bottom: 0; }

.navbar-default {
  background-color: rgba(78, 63, 45, 0.82);
  border-radius: 0;
  border-color: rgba(78, 63, 45, 0.82); }

.navbar-default .navbar-nav > .active > a {
  background-color: rgba(78, 63, 45, 0.7);
  color: rgba(216, 232, 241, 0.85);
  box-shadow: inset 0 0 10px #333333; }

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: rgba(172, 207, 227, 0.85); }

#brand-name {
  vertical-align: top; }

.glyphicon-map-marker {
  font-size: 22px; }

#map {
  padding-right: 0px; }

#map-canvas {
  height: 90vh; }

.col-xs-1 {
  padding-left: 0; }

#information {
  background-color: #b6afa6; }
  #information #top .bubble-box {
    background-color: #e8e4e4; }
  #information #top .col-xs-1 {
    margin-left: -5px; }

.bubble-box {
  background-color: white;
  margin-right: 15px;
  padding: 15px 15px 30px 15px;
  border-radius: 10px; }
  .bubble-box .dropdown-title {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #b7b7b6; }
  .bubble-box select {
    display: block;
    width: 100%; }
  .bubble-box .add-button {
    color: white;
    border-radius: 50%;
    background-color: rgba(55, 140, 190, 0.85);
    height: 20px;
    width: 20px;
    line-height: 18px;
    text-align: center;
    padding-right: 1px; }

.dropdown-div .col-sm-11 {
  padding-right: 5px; }

.dropdown-div .col-sm-1 {
  padding-left: 0; }

.day-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  border: rgba(78, 63, 45, 0.82) solid 1px;
  width: 105px;
  padding: 3px 2px;
  margin-top: 15px;
  color: rgba(78, 63, 45, 0.82); }
  .day-title #day {
    font-size: 23px;
    margin-left: 0px; }
  .day-title .remove-button {
    margin-top: 5px; }

.remove-button {
  float: right;
  color: white;
  border-radius: 50%;
  background-color: red;
  height: 20px;
  width: 20px;
  line-height: 18px;
  text-align: center;
  margin-top: 8px;
  margin-right: 5px; }

.interface {
  padding: 15px; }

#itinerary {
  padding: 15px; }
  #itinerary .col-xs-1 {
    padding-right: 0; }
  #itinerary .col-xs-11 {
    padding-left: 0; }
  #itinerary .remove-button {
    margin-top: 2px; }

#day-list {
  background-color: rgba(78, 63, 45, 0.82);
  color: rgba(216, 232, 241, 0.85);
  margin-top: -15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }
  #day-list ul {
    list-style: none;
    margin-top: 10px;
    padding-left: 15px; }
    #day-list ul li {
      display: inline-block;
      border-radius: 50%;
      border: rgba(216, 232, 241, 0.85) solid 2px;
      height: 30px;
      width: 30px;
      text-align: center;
      padding-top: 5px;
      font-size: 12px; }
      #day-list ul li:hover {
        cursor: pointer; }
    #day-list ul li.active {
      background-color: rgba(216, 232, 241, 0.85);
      color: rgba(78, 63, 45, 0.82); }
  #day-list .remove-button {
    margin-top: 0; }

.remove-button:hover,
.add-button {
  cursor: pointer; }

@media only screen and (max-width: 767px) {
  #information {
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 0; } }
